<div class="card my-3">
  <div class="card-header text-center">Review #<%= review.id %></div>
  <div class="card-body">
    <p class="card-text"><%= simple_format review.content %></p>
  </div>
</div>